/* header style  */
header {
    position: fixed;
    top: 0%;
    left: 0%;
    min-width: 100%;
    color: #fcfdff;
    font-family: Candara;
    background-color: #2f5a99;
    font-size: 13px;
    width: 100%;
    height: 5%;
}

/* header font style */
header h1 {
    position: fixed;
    margin-top: 0%;
    margin-left: 2%;
}
/* header icon */
header h1 image {
    left: 10%;
    position: fixed;
    margin-top: 0%;
}
/* header links */
nav a {
    
    top: 1%;
    color: #fcfdff;
    font-family: Yu Gothic;
    margin-left: 80%;
    position: fixed;
}
/* header menu link */
nav .menu {
    margin-left: 85%;
}
/* header cart link */
nav .cart {
    margin-left: 88%;
}
/* title heading */
#h1 {
    top: 5%;
    position: fixed;
    padding: 45px;
    font-size: 40px;
    font-family: Yu Gothic;
    margin-left: 7%;
}
/* table styling */
.table {
    top: 15%;
    padding: 37px;
    position: fixed;
    font-size: 20px;
    margin-left: 7%;
    font-family: Segoe UI;
}
/* edit menu table-form */
#table {
    top: 15%;
    padding: 44px;
    position: fixed;
    font-size: 17px;
    margin-left: 7%;
    font-family: Segoe UI;
}
/* admin-table-coloumn */
.name {
    text-align: left;
    width: 30%;
}

.price {
    text-align: right;
}

.active {
    text-align: center;
}

.dateoflaunch {
    text-align: center;
    width: 0%;
}

.category {
    text-align: center;
}

.delivery {
    text-align: center;
}

.action {
    text-align: center;
}

/* edit-form-save button */
#save {
    background-color: #2f5a99;
    font-size: 18px;
    color: #fcfdff;
    width: 64%;
    padding: 12px;
}
/*cart-notification-status */
#status {
    color: #4bd14e;
    font-size: 24px;
    font-family: Arial Rounded MT;
}
/*edit-menu-status */
#edit-status {
    color: #4bd14e;
    font-size: 24px;
    margin-left: 9%;
    font-family: Arial Rounded MT;
}
/* cart empty -link */
#menuitemlist {
    color: #169ec7;
    font-family: Yu Gothic UI;
}
/* cart empty -empty message */
#empty {
    color: #b9bcbd;
    font-family: Yu Gothic UI;
}
/* footer */
footer {
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    padding: 8px;
    text-align: left;
    background-color: #bfc2c7;
}